CacheControl == 0.12.6
anytree == 2.8.0
colorama == 0.4.4
cryptography == 3.4.4
lark_parser == 0.12.0
lxml == 4.6.3
openpyxl == 3.0.9
requests == 2.24.0
requests_toolbelt == 0.9.1
setuptools == 49.2.1
tqdm == 4.56.2
urllib3 == 1.25.11
